.timetable{
    &-title{
        text-align: center;
        font-size: 2rem;
    }
    &-main{
        width: 80%;
        text-align: center;
    }
    &-box{
        position: relative;
    }
    &-header{
        position: fixed;
    }
}